.row {
    display: flex;
}

.column {
    flex: 50%;
}

.left {
    text-align: left;
    align-self: center;
}

.center {
    text-align: center;
    align-self: center;
}

.right {
    text-align: right;
}

.colored {
    background-color: darkgray;
}