{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6">
            <p>
                {% for category in categories %}
                    <b>{{category.name}}</b>
                    {% for subcategory in category.subcategory.all %}
                    <a href="{% url 'forum.subcategory' name=subcategory.name %}" class="text-dark text-decoration-non">{{subcategory.name}} </a>
                    {% endfor %}
                {% endfor %}
                </p>
        </div>

        <div class="col-md-4 col-md-2">
            <img src="{% static "images/DA.jpeg" %}" alt="DataArt Forum" width="50"/>
        </div>

    </div>

    <div class="row m-5">
        <div class="col">
            <h1>{{subcategory.name}}</h1>
        </div>
    </div>
</div>


{% endblock %}