{% extends "base.html" %}

{% block content %}

{% for category in categories %}

<div>
    {% if category.need_auth %}

        {% if user.is_authenticated %}
        <h2>{{category.name}}</h2>
            {% for subcategory in category.subcategory.all %}

            <p>{{subcategory.name}}</p>
            {% endfor %}
        {% endif %}

    {% else %}

        <h2>{{category.name}}</h2>
            {% for subcategory in category.subcategory.all %}

            <p>{{subcategory.name}}</p>
            {% endfor %}

    {% endif %}

</div>

{% endfor %}

{% endblock %}