{% load static %}

<html>
<head>
    <title>DataArt Django</title>
    <link rel="shorcut icon" type="img/ico" href={% static 'favicon.ico' %} />
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
</head>

<body>
    <div class="row">
        <div class="column left">
            <img src={% static 'logo.png'%} alt="Logo">
        </div>
        <div class="column center">
            <h1>Forums Board</h1>
            <p>Welcome, description going to be added later</p>
        </div>
        <div class="column right">
            <p>
                <a href="{% url 'admin:index' %}"> Login </a>  |  <a href="{% url 'admin:index' %}"> Admin </a>
            </p>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="column">
                <h2 class="colored"> Updates </h2>
            </div>
            <div class="column">
                <h2 class="colored"> Hobbies </h2>
            </div>
            <div class="column">
                <h2 class="colored"> Hi-Tech </h2>
            </div>
            <div class="column">
                <h2 class="colored"> Talks </h2>
            </div>
            <div class="column">
                <h2 class="colored"> BigBoss </h2>
                <h2 class="colored"> HR </h2>
            </div>
        </div>
    </div>
</body>

</html>